<section class="body-parts-section">
  <div class="container">
    <div class="body-parts-inner">
      <div class="bp-form-wraper">
        <form id="bp-form">
          <input
            class="bp-search-input"
            type="text"
            placeholder="Search"
            name="bp-search-form"
          />
        </form>
        <button type="submit" class="bp-search-button">
          <svg class="search-icon" viewBox="0 0 32 32" width="18" height="18">
            <use href="./img/sprite.svg#icon-search" />
          </svg>
        </button>
      </div>
      <div>
        <ul class="bp-list">
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
          <li class="bp-item">
            <div class="bp-exercisecard-wraper">
              <div class="bp-rating-info">
                <span class="bp-workout-span">WORKOUT</span>
                <span class="bp-rating">4.0</span>
                <svg
                  class="icon-star"
                  viewBox="0 0 32 32"
                  width="13"
                  height="13"
                >
                  <use href="./img/sprite.svg#icon-star"></use>
                </svg>
              </div>

              <button class="bp-start-button" type="button">
                Start
                <svg
                  class="bp-arrow"
                  viewBox="0 0 32 32"
                  width="14"
                  height="14"
                >
                  <use href="./img/sprite.svg#icon-arrow" />
                </svg>
              </button>
            </div>

            <div class="bp-exercise-name">
              <svg
                class="bp-run-icon"
                viewBox="0 0 32 32"
                width="14.07"
                height="16"
              >
                <use href="./img/sprite.svg#icon-running-man" />
              </svg>
              <span>Air bike</span>
            </div>

            <div class="bp-block-info">
              <div class="bp-calories">
                <span class="bp-block-info-title">Burned calories:&nbsp;</span>
                <span class="bp-block-info-value calories-value">312</span>
                <span class="bp-block-info-value">&nbsp;/ 3 min</span>
              </div>
              <div class="bp-body-part">
                <span class="bp-block-info-title">Body part: </span>
                <span class="bp-block-info-value body-part-value">Waist</span>
              </div>
              <div class="bp-target">
                <span class="bp-block-info-title">Target: </span>
                <span class="bp-block-info-value bp-target-value">Abs</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
