
<section class="daily-norm">

    <div class="container daily-norm-wrapper">

    <div class="daily-norm-pic"></div>

<div class="daily-norm-inner">

    <svg class="daily-norm-icon" width="32" height="32">
        <use href="../img/sprite.svg#icon-weight"></use>
    </svg>

    <h3 class="daily-norm-title">110 min</h3>
    <span class="daily-norm-text">Daily  norm of sports</span>
    <p class="daily-norm-paragraph">The World Health Organization recommends at least 150 minutes of moderate-intensity aerobic physical activity throughout the week for adults aged 18-64. However, what happens if we adjust that number to 110 minutes every day? </p>

    </div>
</div>
</section>

