<section class="container">
  <div class="exercises-container">
    <h2 class="title-exercises">Exercises</h2>
    <div class="switch-list">
      <button class="switch-item is-active">Muscles</button>
      <button class="switch-item">Body parts</button>
      <button class="switch-item">Equipment</button>
    </div>
    <div class="gallery-exercises">
      <ul class="exercises-list"></ul>
    </div>
    <div class="exercises-page">
      <button class="page">1</button>
      <button class="page">2</button>
    </div>
  </div>
</section>
