<section class="section">
  <div class="exercises-container container">
    <h2 class="title-exercises">Exercises</h2>
    <div class="switch-list">
      <button class="switch-item is-active" data-filter="Muscles">
        Muscles
      </button>
      <button class="switch-item" data-filter="Body parts">Body parts</button>
      <button class="switch-item" data-filter="Equipment">Equipment</button>
    </div>
    <div class="gallery-exercises">
      <ul class="exercises-list"></ul>
      <ul class="bp-list visually-hidden"></ul>
    </div>
    <div id="tui-pagination-container" class="tui-pagination"></div>
  </div>
</section>
