
<section class="container">
  <div class="exercises-container">
    <h2 class="title-exercises">Exercises</h2>
    <div class="switch-list">
      <button class="switch-item is-active">Muscles</button>
      <button class="switch-item">Body parts</button>
      <button class="switch-item">Equipment</button>
    </div>
    <div class="gallery-exercises">
      <ul class="exercises-list">
        <li class="exercises-item">
          <a class="exercises-link" href=""
            ><div class="image-container">
              <img class="exercises-image" />
              <div class="text-container">
                <h3 class="exercises-title"></h3>
                <p class="exercises-text"></p>
              </div>
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div class="exercises-page">
      <button class="page">1</button>
      <button class="page">2</button>
    </div>
  </div>
</section>

