<header class="fav-header">
  <div class="container">
    <nav class="nav-list fav">
      <a class="header-logo" href="./index.html">energy.flow</a>
      <div class="header-btns">
        <ul class="nav-menu">
          <li class="header-page ">
            <a href="./index.html">Home</a>
          </li>
          <li class="header-page active">
            <a href="./favorites.html">Favorites</a>
          </li>
        </ul>
      </div>
      <button
        class="header-menu-btn js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
      >
        <svg class="icon-menu" width="32" height="16">
          <use href="./img/sprite.svg#icon-mobile-menu"></use>
        </svg>
      </button>
      <div class="header-contacts">
        <ul class="header-socials">
          <li>
            <a
              class="header-socials-item"
              href="https://www.facebook.com/goITclub/"
              target="_blank"
            >
              <svg class="header-socials-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-facebook"></use></svg
            ></a>
          </li>
          <li>
            <a
              class="header-socials-item"
              href="https://www.instagram.com/goitclub/"
              target="_blank"
            >
              <svg class="header-socials-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-instagram"></use></svg
            ></a>
          </li>
          <li>
            <a
              class="header-socials-item"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
            >
              <svg class="header-socials-icon" width="28" height="28">
                <use href="./img/sprite.svg#icon-youtube"></use></svg
            ></a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</header>
