<section class="fav-quote-section">
  <div class="container quote-section-inner">
    <div class="fav-quote-wrapper">
      <div class="running-man">
        <svg
          class="svg-running-man"
          width="18"
          height="20"
          aria-label="menu icon"
        >
          <use href="./img/sprite.svg#icon-running-man"></use>
        </svg>
      </div>
      <div class="fav-text-wrapper">
        <h2 class="fav-quote-title">Quote of the day</h2>
        <!-- backend info -->
      </div>
      <svg class="svg-commas" width="28" height="28" aria-label="menu icon">
        <use href="./img/sprite.svg#icon-inverted-commas"></use>
      </svg>
    </div>
    <div class="fav-flex-wrapper">
      <div class="fav-quote-image"></div>
      <div class="fav-daily-wrapper">
        <div class="fav-daily-norm">
          <svg class="svg-weight" width="20" height="20" aria-label="menu icon">
            <use href="./img/sprite.svg#icon-weight"></use>
          </svg>
          <p class="fav-daily-title">110 min</p>
          <p class="fav-daily-text">Daily norm of sports</p>
        </div>
      </div>
    </div>
  </div>
</section>
