<section class="section-favorites">
    <div class="container-favorites">
       <h2 class="section-title">Favorites</h2>
       <div class="message-block">
        <picture>
            <source media="(max-width:767.98px)">
            srcset="../img/dumbbell_mob.webp, ../img/dumbbell_mob@2x.webp"
            <source media="(min-width:768px)">
            srcset="../img/dumbbell_tab.webp, ../img/dumbbell_tab@2x.webp"
            <source media="(min-width:1440px)">
            srcset="../img/dumbbell_tab.webp, ../img/dumbbell_tab@2x.webp"
        
            <img class="weight-img" width="85" height="52" src="../img/dumbbell_mob.webp" alt="Dumbbell"></img>
        </picture>
        <p class="section-text">It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.</p>
       </div> 

    </div>

</section>