<section class="section-favorites">
    <div class="container-favorites">
       <h2 class="title-favorites">Favorites</h2>
       <div class="message-block-favorites">
        <picture>
            <source media="(max-width:767.98px)"
            srcset="../img/dumbbell_mob.webp, ../img/dumbbell_mob@2x.webp">
            <source media="(min-width:768px)"
            srcset="../img/dumbbell.webp, ../img/dumbbell@2x.webp">
            <source media="(min-width:1440px)"
            srcset="../img/dumbbell.webp, ../img/dumbbell@2x.webp">
            <img class="img-favorites" width="85" height="52" src="../img/dumbbell_mob.webp" alt="Dumbbell"></img>
        </picture>
        <p class="text-favorites">It appears that you haven't added any exercises to your favorites yet. To get started, you can add exercises that you like to your favorites for easier access in the future.</p>
       </div> 
       <div class="gallery-fovorites">
       <ul class="list-favorites">
        <li class="item-favorites">
            <div class="item-favorites-inner">
                <p class="workout-title">Workout</p>
                <button class="delete-from-fav" type="button">
                <svg class="delete-icon" width="16" height="16">
                    <use href="../img/sprite.svg#delete"></use>
                </svg>
                </button>
            </div>
            <button type="button">
                <p>Start</p>
                <svg class="arrow-icon" width="14" height="14">
                    <use href="../img/sprite.svg#arrow"></use>
                </svg>
            </button>
            <div>
                <svg class="man-icon" width="16" height="16">
                    <use href="../img/sprite.svg#running-man"></use>
                </svg>
                <h3>Air bike</h3>
            </div>
            <ul>
                <li>
                    <p>Burned calories: <span>200</span>/ 3 min</p>
                </li>
                <li>
                    <p>Body part: <span>Waist</span></p>
                </li>
                <li>
                    <p>Target: <span>Abs</span></p>
                </li>
            </ul>
        </li>
       </ul>
    </div>
       <button type="button">1</button>
    </div>
</section>