
<div class="container" >
    <!-- mobile menu-->
    <div class="menu-container js-menu-container" id="mobile-menu">
      <p class="logo">energy.flow</p>
      
      <button class="menu-toggle-x js-close-menu">
        <svg 
        width="20"
        height="20">
          <use class="menu-toggle-x-icon" href="./img/sprite.svg#icon-close"></use>
        </svg>
      </button>

   
      <ul class="mobile-menu">
        <li class="mobile-menu-item">
          <a class="mobile-menu-link active" href="" class="m-m-link">Home</a></li>
        <li class="mobile-menu-item">
          <a class="mobile-menu-link" href="" class="m-m-link">Favorites</a></li>
      </ul>

      <ul class="mob-menu-soc-box">

          <li class="soc-conts-item">
              <a class="soc-conts-link" href="" aria-label="icon-facebook">
              <svg class="soc-conts-icon">
                <use href="./img/sprite.svg#icon-facebook"></use>
              </svg>  
              </a>
            </li>
    
        <li class="soc-conts-item">
          <a class="soc-conts-link" href="" aria-label="icon-instagram">
            <svg class="soc-conts-icon">
            <use href="./img/sprite.svg#icon-instagram"></use>
          </svg>  
          </a>
        </li>

        <li class="soc-conts-item">
          <a class="soc-conts-link" href="" aria-label="icon-linkedin">
            <svg class="soc-conts-icon">
            <use href="./img/sprite.svg#icon-youtube"></use>
          </svg>  
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>
  
