@media screen and (max-width: 375px) {
    .daily-norm-pic {
        background-image: url('../img/daily-norm-image_mob.webp');
    }
}

@media screen and (min-width: 375px) and (max-width: 767.98px) and (min-resolution: 96dpi) {
    .daily-norm-pic {
        background-image: url('../img/daily-norm-image_mob.webp');
    }
}

@media screen and (min-width: 375px) and (max-width: 767.98px) and (min-resolution: 192dpi) {
    .daily-norm-pic {
        background-image: url('../img/daily-norm-image_mob@2x.webp');
    }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) and (min-resolution: 96dpi) {
    .daily-norm-pic {
        background-image: url('../img/daily-norm-image_tab.webp');
    }
}

@media screen and (min-width: 768px) and (max-width: 1439.98px) and (min-resolution: 192dpi) {
    .daily-norm-pic {
        background-image: url('../img/daily-norm-image_tab@2x.webp');
    }
}

@media screen and (min-width: 1440px) and (min-resolution: 96dpi) {
    .daily-norm-pic {
        background-image: url('../img/daily-norm-image_desk.webp');
    }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
    .daily-norm-pic {
        background-image: url('../img/daily-norm-image_desk@2x.webp');
    }
}



.daily-norm-pic {

    height: 269px;
    max-width: 335px;
    /* margin: 20px auto auto; */
    border-radius: 30px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: var(--c-primary-tr);
}  



.daily-norm-inner {
    padding: 40px 20px 40px 70px;
    background-color: var(--c-black);
    border-radius: 30px;
    color: var( --c-light-tr60);
    max-width: 335px;
    margin: auto;
    font-size: 14px;
    position: relative;
}

.daily-norm-icon {
    background-color: var(--c-light-tr10);
    fill: var(--c-light);
    border-radius: 50%;
    position: absolute;
    transform: translateX(-50px);
    padding: 6px;
    width: 32px;
    height: 32px;
}


.daily-norm-title {
    color: var(--c-light);
    font-size: 20px;
    padding-bottom: 2px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
}

.daily-norm-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0;
    text-shadow: 
    1px 1px 0px rgb(0, 0, 0),
    -1px -1px 0px rgb(0, 0, 0),
    1px -1px 0px rgb(0, 0, 0),
    -1px 1px 0px rgb(0, 0, 0);
}

.daily-norm-paragraph {
    padding-top: 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0px;
}

@media screen and (min-width: 768px)  {

    .daily-norm-pic {
        max-width: 736px;
        height: 300px; 
        /* margin: 16px auto auto; */
        border-radius: 50px;

        background-size: cover; 
        background-repeat: no-repeat;
        background-position: 50% 50%; 
    }

    .daily-norm-inner {
        padding: 64px 96px 64px 114px;
        background-color: var(--c-black);
        border-radius: 50px;
        color: var( --c-light-tr60);
        max-height: 302px;
        max-width: 736px;
        margin: auto;
        font-size: 14px;
        position: relative;

    }
    
    .daily-norm-icon {
        background-color: var(--c-light-tr10);
        fill: var(--c-light);
        border-radius: 50%;
        position: absolute;
        transform: translateX(-50px);
        padding: 6px;
        width: 32px;
        height: 32px;
    }
    
    .daily-norm-title {
        color: var(--c-light);
        font-size: 24px;
        padding-bottom: 2px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0px;

    }

    .daily-norm-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        letter-spacing: 0;
        text-shadow: 
        1px 1px 0px rgb(0, 0, 0),
        -1px -1px 0px rgb(0, 0, 0),
        1px -1px 0px rgb(0, 0, 0),
        -1px 1px 0px rgb(0, 0, 0);
    }

    .daily-norm-paragraph {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
    }
}


@media screen and (min-width: 1440px) {

    .daily-norm-wrapper {
        display: flex;
        flex-wrap: nowrap;
        margin: auto;
    }

    .daily-norm-pic {
        max-width: 704px;
        max-height: 302px;
        background-size: cover; 
        background-position: center; 
        width: 100%;
        /* margin: 16px auto auto; */
        border-radius: 50px;
    }

    .daily-norm-inner {
        padding: 64px 64px 64px 114px;
        background-color: var(--c-black);
        border-radius: 50px;
        color: var( --c-light-tr60);
        max-width: 704px;
        min-height: 302px;
        /* margin-top: 16px; */
        font-size: 14px;
        position: relative;

    }
    
    .daily-norm-icon {
        background-color: var(--c-light-tr10);
        fill: var(--c-light);
        border-radius: 50%;
        position: absolute;
        transform: translateX(-50px);
        padding: 6px;
        width: 32px;
        height: 32px;
    }
    

    .daily-norm-title {
        color: var(--c-light);
        padding-bottom: 2px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
        letter-spacing: 0px;

    }

    .daily-norm-text {
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        padding-bottom: 14px;
        letter-spacing: 0;
        text-shadow: 
        1px 1px 0px rgb(0, 0, 0),
        -1px -1px 0px rgb(0, 0, 0),
        1px -1px 0px rgb(0, 0, 0),
        -1px 1px 0px rgb(0, 0, 0);
    }

    .daily-norm-paragraph {
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0px;
    }
}
