.fav-header {
  width: 100%;
  z-index: 999;
  align-items: center;
  justify-content: space-between;
}

.nav-list.fav {
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


@media screen and (min-width: 768px) {
  .header {
    margin-top: 32px;
  }
  .nav-list.fav {
    padding: 48px 32px;
  }

}

.fav-nav-menu {
  display: flex;
  gap: 16px;
}

.fav-header-page {
  border: none;
  border-radius: 30px;
  color: var(--c-light);
  font-weight: 400;
  line-height: 150%;
  padding-top: 6px;
}

.fav-active {
  border-radius: 30px;
  padding: 6px 14px;
  width: 96px;
  height: 36px;
  background-color: var(--c-light);
  color: var(--c-black);
  text-align: center;
}

@media screen and (min-width: 1440px) {
  
  .nav-list.fav {
    padding: 40px 48px;
  }
}
