.container-favorites {
  background-color: var(--c-bg-light);
  padding: 40px 20px;
  width: 100%;
  border-radius: 30px;
  min-height: 450px;
}
.title-favorites {
  font-size: 32px;
  font-weight: 400;
  letter-spacing: -0.02em;
  line-height: 100%;
}
.message-block-favorites {
  max-width: 247px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 28px;
  margin: 80px auto 0 auto;
}
.text-favorites {
  font-size: 14px;
  line-height: 129%;
  text-align: center;
}

/* Favorite item */
.gallery-favorites {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}
.item-favorites {
  position: relative;
  padding: 16px;
  border-radius: 15px;
  background-color: var(--c-white);
}
.workout-block {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-bottom: 25px;
}
.workout-title {
  border-radius: 15px;
  padding: 5px 8px;
  background-color: var(--c-primary);
  font-weight: 500;
  font-size: 12px;
  color: var(--c-light);
  width: 76px;
  text-transform: uppercase;
}
.delete-from-fav {
  width: 16px;
  height: 16px;
}
.delete-icon {
  stroke: var(--c-black);
  fill: var(--c-light);
}
.start-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  color: var(--c-black);
}
.ex-title-block {
  display: flex;
  gap: 16px;
  align-items: center;
  margin-bottom: 18px;
}
.ex-title {
  color: var(--c-black);
  font-size: 20px;
  font-weight: 400;
  line-height: 100%;
}
.list-ex-category {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  row-gap: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}
.category-text {
  color: var(--c-black);
}
.category-text-accent {
  color: rgba(27, 27, 27, 0.4);
}
.arrow-icon {
  stroke: var(--c-black);
}
.icon-man-wraper {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;
  border-radius: 100%;
  background-color: var(--c-primary);
}
.man-icon {
  fill: var(--c-white);
}

button {
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 768px) {
  .container-favorites {
    padding: 64px 48px;
    min-height: 928px;
  }
  .title-favorites {
    font-size: 44px;
    line-height: 109%;
  }
  .img-favorites {
    width: 115px;
    height: 71px;
  }
  .message-block-favorites {
    max-width: 554px;
    margin: 208px auto 0 auto;
  }
  .text-favorites {
    font-size: 18px;
    line-height: 133%;
  }
  .gallery-favorites {
    margin-top: 32px;
  }
  .item-favorites {
    width: 313px;
  }
  .ex-title {
    font-size: 24px;
  }
  .start-btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .container-favorites {
    max-height: 687px;
  }
  .title-favorites {
    margin-bottom: 246px;
  }
  .message-block-favorites {
    margin: 208px auto 0 auto;
  }
  .item-favorites {
    width: 424px;
  }
}
