.section-favorites {
    min-width: 320px;
    width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 20px auto;
}
.container-favorites {
    background-color: var(--c-bg-light);
    padding: 40px 20px;
    width: 100%;
    border-radius: 30px;
    min-height: 450px;
}
.title-favorites {
    font-size: 32px;
    letter-spacing: -0.02em;
    line-height: 100%;
    margin-bottom: 80px;
}
.message-block-favorites {
    width: 247px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 28px;
    margin: auto;
}
.text-favorites {
    font-size: 14px;
    line-height: 129%;
    text-align: center;
}


/* Favorite item */
.gallery-fovorites {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.item-favorites {
    position: relative;
    width: 295px;
    padding: 16px;
    border-radius: 15px;
    background-color: var(--c-white);
}
.workout-block {
    display: flex;
    gap: 8px;
    align-items: center;
    margin-bottom: 25px;
}
.workout-title {
    border-radius: 15px;
    padding: 5px 8px;
    background-color: var(--c-primary);
    font-weight: 500;
    font-size: 12px;
    color: var(--c-light);
    width: 76px;
    text-transform:uppercase;
}
.delete-icon {
    fill: var(--c-black);
}
.start-btn {
    position: absolute;
    top: 16px;
    right: 16px;
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 14px;
    color: var(--c-black);
}
.ex-title-block {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-bottom: 18px;
}
.ex-title {
    color: var(--c-black);
    font-size: 20px;
    font-weight: 400;
    line-height: 100%;
}
.list-ex-category {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    row-gap: 6px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    
}
.category-text {
    color: var(--c-black);
}
.category-text-accent {
    color: rgba(27, 27, 27, 0.4);
}

button {
    padding: 0;
    border: none;
    background-color: transparent;
}
@media screen and (min-width: 768px) {
    .section-favorites {
        padding-left: 16px;
        padding-right: 16px;
        width: 768px;
        margin: 16px auto;
    }
    .container-favorites {
        padding: 64px 48px;
        min-height: 928px;
    }
    .title-favorites {
        font-size: 44px;
        line-height: 109%;
        margin-bottom: 208px;
    }
    .img-favorites {
        width: 115px;
        height: 71px;
    }
    .message-block-favorites {
        width: 554px;
    }
    .text-favorites {
        font-size: 18px;
        line-height: 133%;
    } 
  }
  
  @media screen and (min-width: 1440px) {
    .section-favorites {
        width: 1440px;
    }
    .container-favorites {
        max-height: 687px;
    }
    .title-favorites {
        margin-bottom: 246px;
    }
  }