.header {
    width: 100%;
    position: absolute;
    z-index: 999;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.header-logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.02em;
    color: var(--c-black);
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header-menu-btn {
    border: none;
    background-color: transparent;
}

.icon-menu {
    stroke: var(--c-primary);
}

@media screen and (max-width: 767.98px) {
    .header-btns {
        display: none;
    }
    .header-contacts {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .header {
        margin-top: 32px;
    }
    .nav-list {
        padding-top: 16px;
        padding-left: 32px;
        padding-right: 32px;
    }

    .icon-menu {
        display: none;
    }
    .header-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 211px;
        height: 52px;
        display: flex;
        padding: 8px 16px;
        text-align: center;
        justify-content: center;
        border-radius: 60px;
        border: none;
        background-color: var(--c-primary);
    }

    .header-menu-btn {
        display: none;
    }
                
    .header-logo {
        font-weight: 700;
        font-size: 28px;
        line-height: 100%;
        letter-spacing: -0.02em;
    }
}

.header-socials {
    display: flex;
    gap: 12px;
}

.header-socials-item {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(126, 132, 127, 0.2);
    border-radius: 10px;
    padding: 8px;
    width: 44px;
    height: 44px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-socials-icon {
    fill: var(--c-primary);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-socials-icon:hover,
.header-socials-icon:active,
.header-socials-icon:focus {
    fill: #5f6560;
}

.header-socials-item:hover,
.header-socials-item:active,
.header-socials-item:focus {
    border: 1px solid rgba(95, 101, 96, 0.2);
}

.nav-menu {
    display: flex;
    gap: 16px;}

.header-page {
    border: none;
    border-radius: 30px;
    color: var(--c-light);
    font-weight: 400;
    line-height: 150%;
    padding-top: 6px;
}

.active {
    border-radius: 30px;
    padding: 6px 26px;
    width: 96px;
    height: 36px;
    background-color: var(--c-light);
    color: var(--c-black);
    text-align: center;
}

@media screen and (min-width: 1440px) {
    .header {
        margin-top: 16px;
    }

    .nav-list {
        padding-top: 24px;
        padding-left: 48px;
        padding-right: 48px;
    }
}