.hero-wrapper {
    background-repeat: no-repeat;
    position: relative;
    height: 387px;
    border-radius: 30px;
    background-position: top center;
    background-size: cover;
}

.hero-wrapper {
    background-image: url('../img/hero-bg_mob.webp');
}

@media screen and (min-width: 320px) and (max-width: 767.9px) {
    .hero-wrapper {
        background-image: url('../img/hero-bg_mob.webp');
    }

    @media screen and (min-width: 320px) and (min-resolution: 192dpi) {
        .hero-wrapper {
            background-image: url('../img/hero-bg_mob@2x.webp');
        }
    }
}

.hero-tags {
    display: flex;
    gap: 4px;
    flex-wrap: wrap;
    width: 141px;
    padding: 0;
    margin-left: 10px;
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.hero-tags-item {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    color: var(--c-light);
    border: 1px solid rgba(246, 246, 246, 0.3);
    border-radius: 30px;
    padding: 4px 10px;
    height: 22px;
}

.hero-text {
    border-radius: 30px;
    background-color: var(--c-white);
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
}

.hero-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 56px;
    line-height: 89%;
    letter-spacing: -0.02em;
    color: var(--c-black);
    margin-bottom: 20px;
}

.hero-span {
    font-style: italic;
    color: var(--c-primary);
}

.hero-descr {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 129%;
    letter-spacing: -0.01em;
    color: var(--c-black);
    padding-bottom: 81px;
}

@media screen and (min-width: 768px) and (max-width: 1439.9px) {
    .hero-wrapper {
        height: 900px;
        border-radius: 50px 0 50px 50px;
        background-image: url('../img/hero-bg_tab.webp');
    }

    @media screen and (min-width: 768px) and (min-resolution: 192dpi) {
        .hero-wrapper {
            background-image: url('../img/hero-bg_tab@2x.webp');
        }
    }

    .hero-inner {
        display: grid;
        grid-template-columns: 248px 488px;
        grid-gap: 0;
    }

    .hero-tags {
        min-width: 100%;
        gap: 8px;
        margin-left: 20px;
        margin-right: 32px;
        margin-bottom: 64px;
    }

    .hero-tags-item {
        font-size: 16px;
        line-height: 150%;
        padding: 4px 16px;
        height: 32px;
    }

    .hero-text {
        padding-top: 231px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        border-radius: 0 50px 50px 50px;
        margin-top: 0;
    }

    .hero-title {
        font-size: 98px;
        line-height: 97%;
        margin-bottom: 0;
    }

    .hero-descr {
        font-size: 18px;
        line-height: 133%;
        padding-bottom: 0;
        max-width: 396px;
    }
}

@media screen and (min-width: 1440px) {
    .hero-wrapper {
        height: 884px;
        border-radius: 50px 0 50px 50px;
        background-image: url('../img/hero-bg_desk.webp');
    }

    @media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
        .hero-wrapper {
            background-image: url('../img/hero-bg_desk@2x.webp');
        }
    }

    .hero-inner {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 0;
    }
    
    .hero-tags {
        width: 196px;
        gap: 4px;
        margin-left: 48px;
        margin-bottom: 32px;
    }
    
    .hero-tags-item {
        font-size: 16px;
        line-height: 150%;
        padding: 4px 16px;
        height: 32px;
    }

    .hero-text {
        padding-top: 225px;
        padding-left: 32px;
        padding-right: 32px;
        display: flex;
        gap: 25px;
        flex-direction: column;
        border-radius: 0 50px 50px 50px;
        margin-top: 0;
    }
    
    .hero-title {
        font-size: 120px;
        line-height: 96%;
        margin-bottom: 0;
    }

    .hero-descr {
        font-size: 18px;
        line-height: 133%;
        padding-bottom: 0;
        max-width: 528px;
    }
}