/**
  |============================
  | ----Mobile menu section---
  |============================
*/

.mobile-menu-section {
    display: flex;
    padding: 0;
}
.container {
    display: flex;
    background-color: #F6F6F6;
}

/*--burger icon--*/
   
  /*--mobile menu overlay--*/
  .mob-menu-box {
    display: flex;

}

  .menu-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    /* width: 335px; */
    min-width: 320px;
    /* height: 771px; */
    border-radius: 30px;
    padding-top: 300px;
    padding-bottom: 40px;
    background-color: #7E847F;
    z-index: 999;
    /* transform: translateX(100%); */
    transition: transform 250ms ease-in-out;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08), 0px 1px 1px 0px rgba(46, 47, 66, 0.16), 0px 2px 1px 0px rgba(46, 47, 66, 0.08);

  }
  .menu-container.is-open {
    transform: translateX(0);}

   .menu-container .logo {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 112%;
    letter-spacing: -0.02em;
    color: #f6f6f6;
        top: 20px;
        left: 20px;
        padding: 0;
        position: absolute;
        }
  
    /*--overlay X-BTN--*/
  .menu-container .menu-toggle-x {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .menu-toggle-x-icon  {
    display: flex;
    width: 20px;
    height: 20px; 
    stroke: #F6F6F6;    
    }
  .menu-toggle-x {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px; 
    border: none;
    padding: 0;
    /* border-radius: 50%;  */
    background: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
      
    .menu-toggle-x:hover .menu-toggle-x-icon {stroke: #5e5b5b}
    .menu-toggle-x:focus .menu-toggle-x-icon  {stroke: #5e5b5b}
  
    /*--menu overlay--*/

  .mobile-menu {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px; 
    padding: 0;
    margin-bottom: auto;
    list-style: none;
}
  .mobile-menu-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  .mobile-menu-link {
    color: #f6f6f6;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-transform: capitalize;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);}
  
    .mobile-menu-link:hover, 
    .mobile-menu-link:focus {
      color: #1B1B1B;}
  
     .active {
        border-radius: 30px;
        padding: 6px 26px;
        width: 96px;
        height: 36px;
        background-color: var(--c-light);
        color: var(--c-black);
        text-align: center;
        }

    .mob-menu-soc-box {
      display: flex; 
      justify-content: start; 
      align-items: center; 
      flex-direction: row;       
      /* gap: calc((100% - 40px * 4) / 3); */
      gap: 10%;
    }
  
   .soc-conts-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(246, 246, 246, 0.2);
    border-radius: 10px;
    padding: 8px;
    width: 41px;
    height: 41px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.soc-conts-icon {
    fill: #F6F6F6;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 25px;
    height: 25px; 
}

