/* Базові стилі */


.quote-day {
  border-radius: 30px;
  background: var(--c-primary);
  position: relative;
  padding: 40px 20px;
  display: flex;
  gap: 12px;
}

.quote-title {
  color: var(--c-light);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
  text-align: left;
  margin-bottom: 14px;
}

.description {
  color: var(--c-light-tr60);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-align: left;
  margin-bottom: 14px;
}

.author-quote {
  color: var(--c-light);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: left;
}

.running-man {
  background: var(--c-light-tr10);
  width: 34px;
  height: 32px;
  border-radius: 100%;
  padding: 6px 7px;
}

.quote-icon {
  fill: var(--c-light);
}

.element-commas {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 28px;
  height: 28px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.icon-commas {
  fill: var(--c-light);
}

.background-image {
  max-width: 335px;
  height: 272px;
  border-radius: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-color: var(--c-primary-tr);
  background-image: url('../img/quote-image_mob.webp');
}

/* Планшет */

@media only screen and (min-width: 768px) {

  .quote-day {
    border-radius: 50px;
    width: 736px;
    height: 302px;
    padding: 64px 80px;
    gap: 16px;
  }

  .quote-title {
    font-size: 24px;
    line-height: 1.33;
    margin-bottom: 16px;
  }

  .description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 25px;
  }

  .running-man {
    top: 64px;
    left: 80px;
  }

  .element-commas {
    top: 41.6px;
    right: 86.17px;
  }


  .background-image {
    background: url('../img/quote-image_tab.webp');
    max-width: 768px;
    height: 302px;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    background-position: 50% 50%;
  }
}

/* Десктоп */

@media only screen and (min-width: 1440px) {
  
  .quote-day {
    width: 704px;
    height: 302px;
    padding: 64px;
  }

  
  .description {
    font-size: 16px;
    line-height: 1.5;
  }

 
  .running-man {
    left: 64px;
  }

  .element-commas {
    top: 41.6px;
    right: 70.17px;
  }

  .wrapper-quote {
    display: flex;
    flex-wrap: nowrap;
  }

  .background-image {
    background: url('../img/quote-image_desk.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    min-width: 704px;
    display: flex;
  }
}

/* retina */

@media screen and (min-width: 320px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url('../img/quote-image_mob@2x.webp');
  }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url('../img/quote-image_tab@2x.webp');
  }
}

@media screen and (min-width: 1440px) and (min-resolution: 192dpi) {
  .background-image {
    background-image: url('../img/quote-image_desk@2x.webp');
  }
}
