.scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--c-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    z-index: 1;
    width: 40px;
    height: 40px;
}

 .scroll-up:hover {
    background-color: var(--c-primary-hov);
}

.icon-arrow {
    stroke: var(--c-light);
    width: 13.2px;
    height: 13.2px;
    transform: rotate(-90deg);
    position: absolute;
    top: 30%;
    right: 30%;
}

@media only screen and (min-width: 768px) {
    .scroll-up {
    width: 100px;
    height: 100px;
    }

    .icon-arrow {
    width: 33px;
    height: 33px;
    }
}