.scroll-up {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--c-primary);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    z-index: 1000;
    width: 40px;
    height: 40px;
}

.scroll-up:active, .scroll-up:hover {
    background-color: var(--c-primary-hov);
}

.icon-arrow {
    fill: var(--c-light);
    width: 13.2px;
    height: 13.2px;
}

@media only screen and (min-width: 768px) {
    .scroll-up {
    width: 100px;
    height: 100px;
    }

    .icon-arrow {
    width: 33px;
    height: 33px;
    }
}